// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@media (min-width:992px) {
    h1 {
        font-size:2.4em;
    }
}

ol {
    margin-left: 25px;
}

blockquote {
    font-size:1.0em;
}

.about-list {
    margin-left:1.3em;
    li {
        margin-bottom:1.1em;
    }
}

.centered {
    text-align:center;
}

.screenshots {
    em {
        display:block;
        margin-bottom:10px;
    }
}

.plain-image {
    img {
        @include border-radius(0);
        @include box-shadow(none);
        border:none;
    }
    text-decoration:none;
    display:block;
}

.indented-list {
    margin-left: 1.3em;
}

/* Temporary(?) Gist styling fix */

.gist .gist-file {
    font-size:13px;
    .gist-data .data .lines {
        pre {
            font-size:inherit;
            color:inherit;
            @include box-shadow(none);
        }
    }
    .line_numbers {
        line-height:19px;
    }
}
