// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.about-list {
    margin-left:1.3em;
    li {
        margin-bottom:1.1em;
    }
}

.centered {
    text-align:center;
}

.screenshots {
    em {
        display:block;
        margin-bottom:10px;
    }
}

.plain-image {
    img {
        @include border-radius(0);
        @include box-shadow(none);
        border:none;
    }
    text-decoration:none;
    display:block;
}
